/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*.detailsBox {*/
  /*!*border:1px solid grey;*!*/
  /*color:black;*/
  /*background:white;*/
/*}*/

.oldVersion {
  background: #fdffb5;
  color:blacK;
}
.newVersion {
  background:#bada55;
  color:blacK;
}

.apiName {
  text-align:right;
  /*padding-right: 20px;*/
}

.timeline {
  height: 50px;
  background: rgba(204, 204, 204, 0.2);
  position:relative;

  animation-name: timelineAnimation;
  animation-duration: 2s;
}

.version {
  width:120px;
  position:absolute;
  background:transparent;

}


.line {
  height:0px;
  z-index: -1;
  top:50%;
  width:120px;
  margin-left:5px;
  position:absolute;
  background:transparent;
}

img {
  display:none;
}

.hidden {
  background:transparent;
  border:1px solid white;
}

.state-img {
  display:block;
  margin-left:60px;
  margin-top:6.75px;
  width:27px;
  height:27px;
  position:absolute;
}

.experimental {
  border: 1px solid #009FD4;
}
.locked {
  border: 1px dashed #B04600;
  /*height:5px;*/
  /*height:14px; !* specify a height for this hr *!*/
  /*overflow:hidden;*/
}

.stable {
  border: 1px solid #006F50;
}

.infoBox {
  background: rgba(184, 184, 184, 0.65);
  display:inline-block;
  color:black;
  padding-right: 5px;
  font-size: 10px;
  border-radius: 10px;
}

.release {
  margin-right:5px;
  font-size: 10px;
  word-wrap: break-spaces;
  width:110px;
  margin-left:5px;
  text-align:left;
  display:inline-block;
}

.form {
  width:15px;
  top:calc(50% - 8px);
  position:absolute;
  height: 15px;
  opacity:0.7;
  border:1px solid white;
  background: transparent;
}

.fadeAnimation {
  animation-name: formAnimation;
  animation-duration: 2s;
}

.circle:hover, .square:hover {
  height:29px;
  width:29px;
  top:calc(50% - 15px);
  margin-left: -6px;
  border:2px solid white;
}

.clicked {
  height:29px;
  width:29px;
  top:calc(50% - 15px);
  margin-left: -6px;
  opacity:1;
  border:2px solid white;
  animation-name: clickedAnimation;
  animation-duration: 1s;
}

.animateOut {
  animation-name: animateOut;
  animation-duration: 1s;
}

/*.fadeIn {*/
  /*animation-name: fadeIn;*/
  /*animation-duration: 0.25s;*/
/*}*/
/*.fadeOut {*/
  /*animation-name: fadeOut;*/
  /*animation-duration: 0.25s;*/
/*}*/

@keyframes fadeOut {
  0%   {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadeIn {
  0%   {opacity: 0}
  100% {opacity: 1}
}

@keyframes formAnimation {
  0%   {opacity: 0}
  25% {opacity: 1}
}

@keyframes timelineAnimation {
  0%   {transform: rotate3d(1, 0, 0, -90deg)}
  50% {transform: rotate3d(1, 0, 0, 0deg)}
}

@keyframes animateOut {
  0%   {
    height:29px;
    width:29px;
    top:calc(50% - 15px);
    margin-left: -6px;
    opacity: 1;}
  100% {width:15px;
    top:calc(50% - 8px);
    height: 15px;
    opacity:0.7;
    margin-left:0;
    border:1px solid white;}
}

@keyframes clickedAnimation {
  0%   {transform: scale(1.2, 1.2)}
  100% {transform: scale(1,1)}
}

.square {
  border-radius:2px;
  border: 1px solid white;
}



.triangle {
  border: 0;
  width: 0;
  margin-left:5px;
  height: 0;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  border-left: 12px solid red;
  animation-duration:0s;
  margin-top:1px;
}

.White {
  border-left: 10px solid white;
  background: transparent !important;
}

.circle {
  border-radius:50px;
}