body {
   background-color: rgb(43, 43, 43);
}

/*Override bootstrap*/
/*.container.custom-container {*/
    /*padding: 0 0px;*/
    /*max-width:100%;*/
/*}*/

/*#metersRow {*/
    /*width:1400px;*/
/*}*/


.textContainer {
    display:inline-block;
    width:100%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
}


.textContainer h2 {
    font-size: 0.9vw;
    margin:0;
}
.textContainer p {
    font-size: 15px;
    margin:0;
}

.textContainer h1 {
    background: linear-gradient(90deg, #FFF 0%,#FFF 40%, #d0d0d0 50%,#FFF 60%, #FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation-name: shine;
    animation-duration: 10s;
    animation-delay:0s;
    animation-iteration-count: infinite;
}

.mainPercent {
    font-size: 60px;
    margin:0;
    /*animation-name: mainPercentAnimation;*/
    /*animation-duration: 1s;*/
}

.changePercent {
    line-height: 60px;
    text-align:center;
    font-weight: bold;
    margin-bottom:20px;
    animation-name: changePercentAnimation;
    animation-duration: 2s;
    /*animation-delay: 1.5s;*/
    /*animation-delay: 1.5s;*/
}

.textContainer .repo {
    margin-bottom: 10px;
}

.circleShadowHolder {
    width:100%;
    height:100%;
    padding-bottom:10px;
    background:transparent;
    position:absolute;
    z-index:1;
}

.circleShadow {
    width:33%;
    height:100%;
    margin-top:10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.41) !important;
    display: inline-block;
}

#shadowLeft {
    float:left;
    margin-left: -5%;
}

#shadowRight {
    float:right;
    margin-right: -5%;
}


.textHolder {
    /*position: relative;*/
    /*margin-top: 50px;*/
}

.gradient-pie {
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background:
            conic-gradient(from 0deg, yellow 0deg, #3fab3d 90deg, #ff4450 270deg, yellow 360deg);
    animation-name: spinAround;
    animation-timing-function: ease-in-out;
    z-index:0;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.red-pie {
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background: conic-gradient(transparent 0deg, #ffeb3b 30deg, transparent 60deg);
    z-index:0;
}

.pieHolder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: inherit;
}

#mainContain{
    text-align:center;
    /*margin: 0px;*/
}

#title {
    font-size: 6em;
}

.bottomText {
    /*font-size: 5em;*/
    text-align: left;
}

.speedometerHolder {
    width: 180px;
    height: 90px;
    position: relative;
    margin-bottom:5%;
    /*left:25px;*/
    z-index:0;
    /*margin-top: 150px;*/
    /*margin-left: 50px;*/
    display:inline-block;
    /*float: left;*/
    background: inherit;
}


.metricContainer {
    /*min-width:350px;*/
    border: 3px dashed white;
    /*display: inline-block;*/
    padding: 20px;
    margin:5px;
    /*transform:rotate3d(0,1,0,90deg);*/
    /*width:350px;*/
    animation-name: flipCard;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    /*transform:scale(0.6);*/
    /*margin:-50px;*/
    /*max-width:460px;*/
    /*min-width:400px;*/
    /*margin: calc(5px - 2px); !* Remove margin because of inline-block*!*/
    /*width: 250px;*/
    /*height: 125px;*/
    /*padding-bottom: 150px;*/
    border-radius: 5px;
    /*background:*/
            /*linear-gradient(27deg, rgba(21, 21, 21, 0.51) 5px, transparent 5px) 0 5px,*/
            /*linear-gradient(207deg, rgba(21, 21, 21, 0.51) 5px, transparent 5px) 10px 0px,*/
            /*linear-gradient(27deg, rgba(34, 34, 34, 0.51) 5px, transparent 5px) 0px 10px,*/
            /*linear-gradient(207deg, rgba(34, 34, 34, 0.5) 5px, transparent 5px) 10px 5px,*/
            /*linear-gradient(90deg, rgba(27, 27, 27, 0.51) 10px, transparent 10px),*/
            /*linear-gradient(rgba(29, 29, 29, 0.5) 25%, rgba(26, 26, 26, 0.50) 25%, rgba(26, 26, 26, 0.50) 50%, transparent 50%, transparent 75%, rgba(36, 36, 36, 0.50) 75%, #242424);*/
    /*background-color: rgba(19, 19, 19);*/
    /*background:*/
            /*linear-gradient(27deg, rgb(225,225,225) 5px, transparent 5px) 0 5px,*/
            /*linear-gradient(207deg,  rgb(225,225,225) 5px, transparent 5px) 10px 0px,*/
            /*linear-gradient(27deg, rgb(222,222,222) 5px, transparent 5px) 0px 10px,*/
            /*linear-gradient(207deg, rgb(222,222,222) 5px, transparent 5px) 10px 5px,*/
            /*linear-gradient(90deg, rgb(229,229,229) 10px, transparent 10px),*/
            /*linear-gradient(rgb(227,227,227) 25%, rgb(230,230,230) 25%, rgb(230,230,230) 50%, transparent 50%, transparent 75%, rgb(220,220,220) 75%, rgb(237,237,237));*/
    /*background-color: rgb(237,237,237);*/
    background-size: 20px 20px;
}


.pieMiddleCircle {
    width: 50%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    top: 50%;
    left: 25%;
    margin: 0 auto;
    background-color: rgb(43, 43, 43);
    /*background:*/
            /*linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,*/
            /*linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,*/
            /*linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,*/
            /*linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,*/
            /*linear-gradient(90deg, #1b1b1b 10px, transparent 10px),*/
            /*linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);*/
    /*background-color: #131313;*/
    background-size: 20px 20px;

    z-index:1;
    position: absolute;
}


.arrowHolder {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 90px solid black;
    left: calc(50% - 10px);
    transform-origin: center bottom;
    /*transform:rotate(calc(-90deg + 0.1turn));*/
    /*z-index: 1;*/
    position: absolute;
    /*animation: ease-in-out animateArrow 2s;*/
}

.arrowBlack {
    border-bottom-color: #ecffed;
}

.arrowWhite{
    border-bottom-color: #bbbbbb;
    opacity:0;
}

.alignRight {
    text-align:right;
}
.alignLeft {
    text-align:left;
}

.arrowCircle {
    width: 15%;
    height: 30%;
    border-radius: 50%;
    background:#ecffed;
    background-size: 20px 20px;
    position: absolute;
    left: calc(50% - 7.5%);
    /*z-index: 2;*/
    bottom: -15%;
}

/*.pie-halfHider {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*border-radius: 50% 50% 0 0;*/
/*background-image: linear-gradient(to bottom, transparent 50%, inherit);*/
/*}*/

.pieShadow {
    width: 100%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    z-index:1;
    transform:rotate(-90deg);
}

.pieShadow.black {
    background-image: linear-gradient(to top, transparent 50%, #000 0);
}


.pieShadow.diff {
    opacity: 0;
    animation: breath;
    animation-duration:10s;
    animation-delay:3s;
    animation-iteration-count: infinite;
     background: conic-gradient(transparent 0deg,black 0deg, #000 30deg, transparent 30deg);
 }

@keyframes spinAround {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

@keyframes shine {
    0% {background-position: 0% center}
    30% {background-position: 200% center}
    100% {background-position: 200% center}
    /*100% {background-position: 0% center}*/
}

@keyframes gradientChange {
    0% {transform: rotate(0deg);}
    1% {transform: rotate(8deg);}
    2% {transform: rotate(-8deg);}
    3% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

@keyframes mainPercentAnimation {
    0% {opacity:0; margin-right: -100%}
    100% {opacity:1; margin-right: 0%}
}

@keyframes changePercentAnimation {
    0% {opacity:0; }
    50% {opacity:0;}
    100% {opacity:1;}
}

@keyframes flipCard {
    0% {transform:rotate3d(0,1,0,90deg)}
    25% {transform:rotate3d(0,1,0,-30deg)}
    50% {transform:rotate3d(0,1,0,10deg)}
    75% {transform:rotate3d(0,1,0,-3deg)}
    100% {transform:rotate3d(0,1,0,0deg)}
}

@keyframes breath {
    0% {opacity:0}
    20% {opacity: 0.05}
    25% {opacity: 0.5}
    30% {opacity: 0.05}
    35% {opacity: 0.5}
    40% {opacity: 0.05}
    45% {opacity: 0.5}
    50% {opacity: 0.05}
    100% {opacity:0}
}