body {
    background: #333333
}

/*Override bootstrap*/
.container.custom-container {
    padding: 0 0px;
    max-width:100%;
}


.textContainer {
    display:inline-block;
    width:100%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
}


.textContainer h2 {
    font-size: 25px;
    margin:0;
}
.textContainer p {
    font-size: 15px;
    margin:0;
}

.textContainer h1 {
    background: linear-gradient(90deg, #FFF 0%,#FFF 40%, #d0d0d0 50%,#FFF 60%, #FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% auto;
    animation-name: shine;
    animation-duration: 10s;
    animation-delay:0s;
    animation-iteration-count: infinite;
}

.mainPercent {
    font-size: 60px;
    margin:0;
    /*animation-name: mainPercentAnimation;*/
    /*animation-duration: 1s;*/
}

.changePercent {
    line-height: 60px;
    text-align:center;
    animation-name: changePercentAnimation;
    animation-duration: 2s;
    /*animation-delay: 1.5s;*/
    /*animation-delay: 1.5s;*/
}

.textContainer .repo {
    margin-bottom: 10px;
}

.circleShadowHolder {
    width:100%;
    height:100%;
    padding-bottom:10px;
    background:transparent;
    position:absolute;
    z-index:1;
}

.circleShadow {
    width:33%;
    height:100%;
    margin-top:10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.41) !important;
    display: inline-block;
}

#shadowLeft {
    float:left;
    margin-left: -5%;
}

#shadowRight {
    float:right;
    margin-right: -5%;
}


.textHolder {
    /*position: relative;*/
    /*margin-top: 50px;*/
}

.gradient-pie {
    width: 100%;
    height: 200%;
    border-radius: 50%;
    background: conic-gradient(from 0deg, yellow 0deg, #3fab3d 90deg, #ff4450 270deg, yellow 360deg);
    animation-name: spinAround;
    animation-timing-function: ease-in-out;
    z-index:0;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.pieHolder {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: inherit;
}

#mainContain{
    text-align:center;
    /*margin: 0px;*/
}

#title {
    font-size: 6em;
}

.bottomText {
    font-size: 5em;
    text-align: left;
}

.speedometerHolder {
    width: 250px;
    height: 125px;
    position: relative;
    margin-bottom:5%;
    left:25px;
    z-index:0;
    /*margin-top: 150px;*/
    /*margin-left: 50px;*/
    display:inline-block;
    float: left;
    background: inherit;
}

.metricContainer {
    border: 1px solid white;
    display: inline-block;
    padding: 20px;
    margin:5px;
    width:350px;
    /*transform:scale(0.6);*/
    /*margin:-50px;*/
    /*max-width:460px;*/
    /*min-width:400px;*/
    /*margin: calc(5px - 2px); !* Remove margin because of inline-block*!*/
    /*width: 250px;*/
    /*height: 125px;*/
    /*padding-bottom: 150px;*/
    border-radius: 5%;
    background: #a2a38a;
}

.arrowHolder {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 125px solid black;
    left: calc(50% - 10px);
    transform-origin: center bottom;
    /*transform:rotate(calc(-90deg + 0.1turn));*/
    /*z-index: 1;*/
    position: absolute;
    /*animation: ease-in-out animateArrow 2s;*/
}

.arrowBlack {
    border-bottom-color: black;
}

.arrowWhite{
    border-bottom-color: white;
    opacity:0;
}

.alignRight {
    text-align:right;
}
.alignLeft {
    text-align:left;
}

.arrowCircle {
    width: 15%;
    height: 30%;
    border-radius: 50%;
    background:black;
    position: absolute;
    left: calc(50% - 7.5%);
    /*z-index: 2;*/
    bottom: -15%;
}

.píeMiddleCircle {
    width: 50%;
    height: 100%;
    border-radius: 50% 50% 0 0;
    top: 50%;
    left: 25%;
    margin: 0 auto;
    background: #a2a38a;
    z-index:1;
    position: absolute;
}

/*.pie-halfHider {*/
/*width: 100%;*/
/*height: 100%;*/
/*position: absolute;*/
/*border-radius: 50% 50% 0 0;*/
/*background-image: linear-gradient(to bottom, transparent 50%, inherit);*/
/*}*/

.pieShadow {
    width: 100%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(to top, transparent 50%, #000 0);
    /*transform: rotate(0.08turn);*/
    /*animation-name: animateShadow;*/
    /*animation-duration: 2s;*/
    opacity: 0.5;
    z-index:1;
}



@keyframes spinAround {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

@keyframes shine {
    0% {background-position: 0% center}
    30% {background-position: 200% center}
    100% {background-position: 200% center}
    /*100% {background-position: 0% center}*/
}

@keyframes gradientChange {
    0% {transform: rotate(0deg);}
    1% {transform: rotate(8deg);}
    2% {transform: rotate(-8deg);}
    3% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

@keyframes mainPercentAnimation {
    0% {opacity:0; margin-right: -100%}
    100% {opacity:1; margin-right: 0%}
}

@keyframes changePercentAnimation {
    0% {opacity:0; }
    50% {opacity:0;}
    100% {opacity:1;}
}